<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Añadir tutorial</h1>
<!--     
        <form th:action="@{/new-tutorial}" th:object="${tutorial}" method="post">
            <div>
                <label for="nombre">Ingrese el nombre</label>
                <input type="text"   th:field="*{nombre}">
            </div>
            <div>
                <label for="descripcion">Ingrese la descripcion</label>
                <input type="text"   th:field="*{descripcion}">
            </div>
            <button type="submit">Guardar</button>
        </form> -->
        <div>hola</div>

</body>
</html>