<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <table border="1">
            <tr>
                <th>Nivel de estudio</th>
                <th>Nombre del programa</th>
                <th>numero de creditos</th>
                <th>Estado</th>
            </tr>
            <tr th:each="programa:${programaListAttribute}">
                <td th:text="${programa.nivel_estudio}"></td>
                <td th:text="${programa.nombre_programa}"></td>
                <td th:text="${programa.cantidad_creditos}"></td>
                <td th:text="${programa.estado}"></td>
                <td>
                    <a th:href="@{/programa/{nombre}(nombre=${programa.nombre_programa})}">Mostrar</a>
                </td>

            </tr>


        </table>
    </div>

</body>

</html>