<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>descripcion</th>
                <th>URl</th>
                <th>Publicado</th>
                <th>Fecha</th>
                <th>Autor</th>
            </tr>
            <tr th:each="tutorial:${tutorialListAttribute}"> 
                <td th:text="${tutorial.nombre}"></td>
                <td th:text="${tutorial.descripcion}"></td>
                <td th:text="${tutorial.url}"></td>
                <td th:text="${tutorial.estado}"></td>
                <td th:text="${tutorial.fecha}"></td>
                <td th:text="${tutorial.autor}"></td>
                <td>
                 <a th:href="@{/tutorial/{nombre}(nombre=${tutorial.nombre})}">Mostrar</a>
                </td>

            </tr>


        </table>
    </div>
</body>
</html>