<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Lista empleados</h3>
        <table border="2">
            <tr>
                <th>Tipo vehiculos</th>
                <th>marca</th>
                <th>modelo</th>
                <th>color</th>
            </tr>
            <tr th:each="vehiculo:${VehiculosAtributos}">
                <td th:text="${vehiculo.tipo_vehiculo}"></td>
                <td th:text="${vehiculo.modelo}"></td>
                <td th:text="${vehiculo.marca}"></td>
                <td th:text="${vehiculo.color}"></td>

            </tr>
        </table>
    </div>
</body>
</html>